conda { 
    conda.enabled = true 
    conda.cacheDir = ".env"  
}

// DIRECT TO ISICLE ENVIRONMENT //
process {
    conda = "/Users/jyst649/anaconda3/envs/isicle"
}

process {
    withLabel: adducts {
        // Define resource requirements for process `adduct`
        errorStrategy = 'ignore'
    }
    withLabel: conformers {
        // Define resource requirements for process `conformer`
        errorStrategy = 'ignore'
    }
    withLabel: dft {
        // Define resource requirements for process `dft`
        errorStrategy = 'ignore'
    }
    withLabel: mobility {
        // Define resource requirements for process `mobility`
        errorStrategy = 'ignore'
    }
}


