logFile ${log}
source isicle/resources/amber/leaprc.gaff
source isicle/resources/amber/leaprc.ff14SB
loadAmberParams ${frcmod}
loadAmberParams frcmod.ionsjc_spce
TP = loadMol2 ${mol2}
saveAmberParm TP ${prmtop} ${inpcrd}
quit