
${mol2}: 1st MD run (md0) in-vacuo, no cut off
 &cntrl
  imin = ${imin},
  ntb = ${ntb},
  ntf = ${ntf},
  ntc = ${ntc},
  ntx = ${ntx},
  igb = ${igb},
  ntpr = ${ntpr},
  ntwx = ${ntwx},
  ntt = ${ntt},
  nscm = ${nscm},
  gamma_ln = ${gamma_ln},
  tempi = ${tempi},
  temp0 = ${temp0},
  nstlim = ${nstlim},
  dt = ${dt},
  cut = ${cut},
  ig = ${ig}
 /
