title "${filename}"
start ${filename}

memory global 1600 mb heap 100 mb stack 600 mb

permanent_dir ${dir}
scratch_dir /scratch

echo
print low

charge ${charge}
geometry noautoz noautosym
 load ${dir}/${filename}.xyz
end

basis
 * library 6-31G*
end

dft
 direct
 xc b3lyp
 mulliken
 print "mulliken ao"
end

driver
 maxiter 150
 xyz ${filename}_geom
end

set lindep:n_dep 0

task dft energy ignore
task dft optimize ignore
task dft energy
task dft freq